/-- Problem 7.sql
/-- SELECT '2023-02-19':: DATE , dung de .sql
/-- Unions.sql
/-- case.sql
/-- practice problem 6.sql
/-- subqueries_CTE.sql
/--problem 8.sql
/.vscode
/ALTER TABLE job_applied.sql
/INSERT INTO job_applied.sql
/UPDATE job_applied.sql
/csv_files